{% extends "blog/base.html" %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
<article>
    <h1>{{ object.title }}</h1>
    <p>by {{ object.author }} • {{ object.published_date|date:"Y-m-d H:i" }}</p>
    <div>
        {{ object.content|linebreaks }}
    </div>
</article>

{% if user.is_authenticated and user == object.author %}
    <p>
        <a href="{% url 'post_update' object.pk %}">Edit</a> |
        <a href="{% url 'post_delete' object.pk %}">Delete</a>
    </p>
{% endif %}
<p><a href="{% url 'post_list' %}">Back to posts</a></p>
{% endblock %}
